{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Блог{% endblock %}
{% block content %}

    <body>
        <!-- main layout start from here -->
        <!--====== PRELOADER PART START ======-->

        <!-- <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div> -->

        <!--====== PRELOADER PART ENDS ======-->
        <div id="main">
            <!-- Header Start -->
            <!-- Header Start -->
            {% include 'header.html' %}

            <!-- Header End -->
            <!-- Breadcrumb Area start -->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcrumb-content">
                                <h1 class="breadcrumb-hrading">Блог</h1>
                                <ul class="breadcrumb-links">
                                    <li><a href="index.html">Главная</a></li>
                                    <li>Блог</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Area End -->
            <!-- Shop Category Area End -->
            <div class="shop-category-area blog-grid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                            <div class="blog-posts">
                                <div class="row">
                                    <div class="col-md-6 mb-res-sm-30px">
                                        <div class="single-blog-post blog-grid-post">
                                            <div class="blog-post-media">
                                                <div class="blog-image">
                                                    <a href="blog-grid-left-sidebar.html#"><img src="{% static 'images/blog-image/blog-1.jpg' %}" alt="blog" /></a>
                                                </div>
                                            </div>
                                            <div class="blog-post-content-inner mt-30">
                                                <h4 class="blog-title"><a href="blog-grid-left-sidebar.html#">This is Third Post For XipBlog</a></h4>
                                                <ul class="blog-page-meta">
                                                    <li>
                                                        <a href="blog-grid-left-sidebar.html#"><i class="ion-person"></i> Admin</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-grid-left-sidebar.html#"><i class="ion-calendar"></i> 24 April, 2020</a>
                                                    </li>
                                                </ul>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eius expedita hic, vel minima minus reiciendis consequuntur ab beatae necessitatibus amet magni itaque, nostrum vero eos
                                                    nobis modi temporibus recusandae.
                                                </p>
                                                <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                                            </div>
                                        </div>
                                        <!-- single blog post -->
                                    </div>
                                    {% for p in posts %}
                                    <div class="col-md-6">
                                        <div class="single-blog-post blog-grid-post mt-30">
                                            <div class="blog-post-media">
                                                <div class="blog-image">
                                                    <a href="{% url 'mainasia:post_detail' p.pk %}">
                                                        {% if p.photo %}
                                                        <img src="{{ p.photo.url }}" alt="blog" /></a>
                                                        {% else %}
                                                        <img src="{% static 'images/404.jpg' %}" alt="blog" /></a>
                                                        {% endif %}
                                                </div>
                                            </div>
                                            <div class="blog-post-content-inner mt-30">
                                                <h4 class="blog-title"><a href="{% url 'mainasia:post_detail' p.pk %}">{{ p.title }}</a></h4>
                                                <ul class="blog-page-meta">
                                                    <li>
                                                        <a href="{% url 'mainasia:post_detail' p.pk %}"><i class="ion-calendar"></i> {{ p.date }}</a>
                                                    </li>
                                                </ul>
                                                <p>{{ p.body }}</p>
                                                <a class="read-more-btn" href="{% url 'mainasia:post_detail' p.pk %}"> Читать <i class="ion-android-arrow-dropright-circle"></i></a>
                                            </div>
                                        </div>
                                        <!-- single blog post -->
                                    </div>
                                    {% endfor %}
                                    <!-- <div class="col-md-6">
                                        <div class="single-blog-post blog-grid-post mt-30">
                                            <div class="blog-post-media">
                                                <div class="blog-image">
                                                    <a href="blog-grid-left-sidebar.html#"><img src="{% static 'images/blog-image/blog-4.jpg' %}" alt="blog" /></a>
                                                </div>
                                            </div>
                                            <div class="blog-post-content-inner mt-30">
                                                <h4 class="blog-title"><a href="blog-grid-left-sidebar.html#">This is Third Post For XipBlog</a></h4>
                                                <ul class="blog-page-meta">
                                                    <li>
                                                        <a href="blog-grid-left-sidebar.html#"><i class="ion-person"></i> Admin</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-grid-left-sidebar.html#"><i class="ion-calendar"></i> 24 April, 2020</a>
                                                    </li>
                                                </ul>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eius expedita hic, vel minima minus reiciendis consequuntur ab beatae necessitatibus amet magni itaque, nostrum vero eos
                                                    nobis modi temporibus recusandae.
                                                </p>
                                                <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                                            </div>
                                        </div>
                                        single blog post 
                                    </div> -->
                                </div>
                            </div>
                            <!--  Pagination Area Start -->
                            <div class="pro-pagination-style text-center">
                                <ul>
                                    <li>
                                        <a class="prev" href="blog-grid-left-sidebar.html#"><i class="ion-ios-arrow-left"></i></a>
                                    </li>
                                    <li><a class="active" href="blog-grid-left-sidebar.html#">1</a></li>
                                    <li><a href="blog-grid-left-sidebar.html#">2</a></li>
                                    <li>
                                        <a class="next" href="blog-grid-left-sidebar.html#"><i class="ion-ios-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--  Pagination Area End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shop Category Area End -->
            <!-- Footer Area start -->
             {% include 'footer.html' %}
            <!--  footer Area End -->
        </div>

        <!-- Modal -->
         {% include 'modal_wrapper.html' %}
        <!-- Modal end -->
    </body>
</html>
{% endblock %}
