{% load static %}
<style>
    .count-cart:after {
        content: '{% with total_items=cart|length %}{% if cart|length > 0 %}{{ total_items }}{% else %}0{% endif %}{% endwith %}' !important;
    }
</style>
<header class="main-header">
                <!-- Header Top Start -->
                <div class="header-top-nav">
                    <div class="container">
                        <div class="row">
                            <!--Left Start-->
                            <div class="col-lg-4 col-md-4">
                                <div class="left-text">
                                    <p>Добро пожаловать в Asiahomeshop</p>
                                </div>
                            </div>
                            <!--Left End-->
                            <!--Right Start-->
                            <div class="col-lg-8 col-md-8 text-right">
                                <div class="header-right-nav">
                                    <div class="dropdown-navs">
                                        <ul>
                                            <!-- Settings Start -->
                                            <li class="dropdown xs-after-n">
                                                <a class="angle-icon" href="/#">Настройки</a>
                                                <ul class="dropdown-nav">
                                                    <li><a href="my-account.html">Мой аккаунт</a></li>
                                                    <li><a href="login.html">Войти</a></li>
                                                </ul>
                                            </li>
                                            <!-- Settings End -->
                                            <!-- Currency Start -->

                                            <!-- Currency End -->
                                            <!-- Language Start -->
                                            <!-- Language End -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Right End-->
                        </div>
                    </div>
                </div>
                <!-- Header Top End -->
                <!-- Header Buttom Start -->
                <div class="header-navigation sticky-nav">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Logo Start -->
                            <div class="col-md-2 col-sm-2">
                                <div class="logo">
                                    <a href="/"><img src="{% static 'images/logo/logo5.png' %}" alt="" /></a>
                                </div>
                            </div>
                            <!-- Logo End -->
                            <!-- Navigation Start -->
                            <div class="col-md-10 col-sm-10">
                                <!--Main Navigation Start -->
                                <div class="main-navigation d-none d-lg-block">
                                    <ul>
                                        <li class="menu-dropdown">
                                            <a href="/">Главная</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="{% url 'mainasia:shop' %}">Магазин </a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="{% url 'mainasia:about' %}">О нас</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="{% url 'cart:cart_detail' %}">Корзина</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="blog-grid-left-sidebar.html">Блог <i class="ion-ios-arrow-down"></i></a>
                                            <ul class="sub-menu">
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'mainasia:contact' %}">Контакты</a></li>
                                    </ul>
                                </div>
                                <!--Main Navigation End -->
                                <!--Header Bottom Account Start -->
                                <div class="header_account_area">
                                    <!--Seach Area Start -->
                                    <div class="header_account_list search_list">
                                        <a href="javascript:void(0)"><i class="ion-ios-search-strong"></i></a>
                                        <div class="dropdown_search">
                                            <form action="/shop#">
                                                <input placeholder="Поиск товара" type="text" />
                                                <div class="search-category">
                                                    <select class="bootstrap-select" name="poscats">
                                                        <option value="0">Все категории</option>
                                                        <option value="104">
                                                            Бренды
                                                        </option>
                                                        <option value="183">
                                                            Уход за лицом
                                                        </option>
                                                        <option value="188">
                                                            Уход за волосами
                                                        </option>
                                                        <option value="189">
                                                            Уход за телом
                                                        </option>
                                                        <option value="190">
                                                            Бытовая химия
                                                        </option>
                                                        <option value="191">
                                                            уход за полостью рта
                                                        </option>
                                                        <option value="184">
                                                            Декоративная косметика
                                                        </option>
                                                        <option value="192">
                                                            БАДы, Глазные капли
                                                        </option>
                                                        <option value="193">
                                                            Товары для детей: косметика, бытовая химия...
                                                        </option>
                                                        <option value="194">
                                                            Товары для мужчин: лицо, волосы
                                                        </option>
                                                        <option value="195">
                                                            Товары личной гигиены: прокладки...
                                                        </option>
                                                        <option value="196">
                                                            Аксессуары: мочалки для тела, расчёски ...
                                                        </option>
                                                        <option value="185">
                                                            Идеи подарков
                                                        </option>
                                                    </select>
                                                </div>
                                                <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--Seach Area End -->
                                    <!--Contact info Start -->
                                    <div class="contact-link">
                                        <div class="phone">
                                            <p>Позвоните нам:</p>
                                        <a href="tel:+79269267007">+7 926 926 70 07</a>
                                        </div>
                                    </div>
                                    <!--Contact info End -->
                                    <!--Cart info Start -->
                                    <div class="cart-info d-flex">
                                        <div class="mini-cart-warp">
                                            <a href="{% url 'cart:cart_detail' %}" class="count-cart"><span>{{ cart.get_total_price }}</span></a>
                                        </div>
                                    </div>
                                    <!--Cart info End -->
                                </div>
                            </div>
                        </div>
                        <!-- mobile menu -->
                        <div class="mobile-menu-area">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul class="menu-overflow">
                                        <li class="menu-dropdown">
                                            <a href="/">Главная</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="/shop">Магазин</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="{% url 'mainasia:about' %}">О нас</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="{% url 'cart:cart_detail' %}">Корзина</a>
                                        </li>
                                        <li class="menu-dropdown">
                                            <a href="blog-grid-left-sidebar.html">Блог</a>
                                        </li>
                                        <li><a href="{% url 'mainasia:contact' %}">Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- mobile menu end-->
                    </div>
                </div>
                <!--Header Bottom Account End -->
            </header>